<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Nota de inscripcion</title>
</head>
<body>
    <header>
      <div class="container-fluid bg-dark">
        <div class="container">
            <nav class="navbar navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img src="images/blanco.png"   height="40" alt="logo">
                </a>
                <span class="navbar-text">Solicitud de mesa de examen.beta</span>
            </nav>
      </div>
    </div>
    </header>
    <div class="container" style="padding-top:20px">
      <div class="row">
          <div class="col-6 col-md-4">
              <div class="card text-white bg-info mb-3" style="width: 20rem;">
                  <div class="card-header">Instrucciones</div>
                  <div class="card-body">
                    <h5 class="card-title">Solicitud de notas de examen</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Para alumnos egresados</h6>
                    <p class="card-text">Rellena los campos con tus datos personales y las materias a rendir</p>
                  </div>
              </div>
              <div class="card" style="width: 20rem;">
                <div class="card-header">Informacion Importante</div>
                      <ul class="list-group list-group-flush">
                          <li class="list-group-item">Las mesas se solicitan de Abril a Noviembre</li>
                          <li class="list-group-item">Las notas deben ser presentadas antes del 10 de cada mes</li>
                          <li class="list-group-item">Se informara al alumno cuando la mesa este conformada</li>
                          <li class="list-group-item">Si el alumnos no se presenta a la mesa solicitada, no podra rendir el mes siguiente</li>
                      </ul>
              </div>
          </div>
        <div class="col-12 col-md-8" >
            <form action="/nota" method="post">
              <div class="form-group">
        <div class="card">
            <h4 class="card-header">Datos Personales</h4>
         <div class="card-body">
            
                <div class="row">
                    <div class="col">
                        <label for="fNombre">Nombre</label>
                        <input type="text"class="form-control" id="fNombre"name="nombre"placeholder="Ingrese su nombre" required>
                    </div>
                     
                    <div class="col">
                        <label for="fApel">Apellido</label>  
                        <input type="text"class="form-control" id="fApel" name="apellido" placeholder="Ingrese su Apellido" required >
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <label for="dni">N° DNI</label>
                        <input type="number"class="form-control"id="dni"name="dni" placeholder="Ingrese su DNI" required>
                    </div>
                    <div class="col-4">
                        <label for="egreso">Año de egreso</label>
                        <select name="egreso" class="form-control" id="egreso"name="egreso">
                                <option selected class="formc-control">Seleccione</option>
                                <option value="2016">2016</option>
                                <option value="2017">2018</option>
                                <option value="2017">2019</option>
                                <option value="2017">2020</option>
                        </select>
                    </div>
                    <div class="col">
                      <label for="telefono">Telefono:</label>
                      <input type="number" class="form-control" id="telefono" name="telefono"placeholder="Ingrese telefono">
                    </div>
                </div>
              </div><!--Cierre Card-Body-->
              </div><!--Cierre Card-->
              
              <div class="card" style="margin-top:20px">
                <div class="card-header"><h4>Materias a rendir</h4></div>
                <div class="card-body">
                <div class="row">
                    <div class="col"><label for="materia1">Materia 1</label>
                        <input type="text" id="materia1" class="form-control" name="materia1">
                    </div>
                </div>
                <div class="row">
                        <div class="col"><label for="materia1">Materia 2</label>
                            <input type="text" id="materia1" class="form-control" name="materia2">
                        </div>
                </div> 
                <div class="row">
                    <div class="col"><label for="materia1">Materia 3</label>
                        <input type="text" id="materia1" class="form-control" name="materia3">
                    </div>
                </div>
             
            </div>
          </div> <!--Cierre card-->
          <div class="row " style="padding-top:10px">
              <div class="col"><button type="submit" class="btn btn-success">Generar Nota</button></div>
         </div>
          </div>
        </form>
            </div>
            </div>
    </div>
    <footer class="footer">
      <div class="container">
        <span>Instituto austro-2018 //<a href="https://www.facebook.com/rockettecnico/>"> maex.dev</a> </span> <span class="badge badge-info">V 0.01</span>
      </div>
    </footer>
    

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>